<% provide(:title, "Game") %>
<h1>Game</h1>
<h2>Let's Play</h2>
<p>Your current score is <%= current_user.score %>.</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_tag game_path do  %>

     <%= label_tag :sub %><br />
     <%= @sub1 %>  -   <%= @sub2 %>  <%= number_field_tag :sub, class: 'form-control' %>
     <%= hidden_field_tag :subtraction, @sub1 - @sub2 %><br /><br />
      
      <%= label_tag :add %><br />
      <%= @add1 %>  +   <%= @add2 %>  <%= number_field_tag :add, class: 'form-control' %>
      <%= hidden_field_tag :addition, @add1 + @add2 %><br /><br />
      
      <%= label_tag :mult %><br />
      <%= @mult1 %>  x   <%= @mult2 %>  <%= number_field_tag :mult, class: 'form-control' %>
      <%= hidden_field_tag :multiplication, @mult1 * @mult2 %><br /><br />


      <%= submit_tag "Get result", class: "btn btn-primary" %>
    <% end %>

    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    <li><%= link_to "Home",   root_path %></li>
  </div>
</div>